# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
streamlit==1.1.0

# farm-haystack==1.7.0
st-annotated-text==2.0.0
jupyter
polars
altair
plotly
RISE